title: ntSystems | info.tech
email: blog@ntsystems.it
description: "by Daniel Nitz and Thomas Torggler."
baseurl: ""
url: "https://ntsystems.it"
disqus_username: ntsystems
twitter_username: ntsystemsit
github_username:  tomtorggler
timezone: Europe/Rome

# Build settings
markdown: kramdown
theme: minima
paginate: 10
permalink: /post/:title

jquery: 2.2.2

gems:
  - jekyll-redirect-from
  - jekyll-paginate

# Default Values for "Front Matter"
# hidden: true filters out articles from pagination on the front page
defaults:
  -
    scope:
      path: ""
    values:
      excerpt_separator: <!-- more -->
      hidden: false
  -
    scope:
      path: "_posts/PowerShell"
    values:
      permalink: "/PowerShell/:title/"
      excerpt_separator: <!-- more -->
      hidden: true
  -
    scope:
      path: "_posts/PowerShell/TAK"
    values:
      permalink: "/PowerShell/TAK/:title/"
      excerpt_separator: <!-- more -->
      hidden: true
