<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | escape }}</a>
    <input type="checkbox" id="menu-checkbox" />
    <nav class="nav-main">    
        <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☓" onclick></label>
        {% for my_page in site.pages %}
          {% if my_page.title and my_page.menubar %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
    </nav>
  </div>
</header>