<p class="section small-caps">
    {% if post.author %}
        <span itemprop="author">{{ site.data.authors[post.author].name | downcase }}</span>
    {% else %}
        <span itemprop="author">{{ site.data.authors[page.author].name | downcase }}</span>
    {% endif %}
    {% if post.date %}
    <span class="meta-tag">
        <time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%-d %b %Y" | downcase }}</time>
    </span>
    {% else %}
    <span class="meta-tag">
        <time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" | downcase }}</time>
    </span>
    {% endif %}
    {% if post.date_modified %}
    <span class="meta-tag post-updated">
        updated <time datetime="{{ post.date_modified | date: "%Y-%m-%d" }}" itemprop="dateModified">{{ post.date_modified | date: "%-d %b %Y" | downcase}}</time>
    </span>
    {% endif %}
    {% if page.author %}
    <span class="meta-tag">
        <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}" target="_blank" rel="noopener">edit</a> this page
    </span>
    {% endif %}
    {% if page.tags.size >= 1 %}
    <br><span itemprop="keywords">
    {% for tag in page.tags %}
        <a class="tag" href="{{ site.baseurl }}/Tags/{{ tag }}">#{{ tag | downcase }}</a>
    {% endfor %}
    </span>
    {% endif %}
</p>