<p class="post-meta">
    <img src="{{ site.baseurl }}/public/glyphicons-46-calendar.png">
    {% if post.date %}
        <time datetime="{{ post.date | date: "%b %-d, %Y" }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }} &thinsp; </time>
    {% else %}
        <time datetime="{{ page.date | date: "%b %-d, %Y" }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }} &thinsp; </time>
    {% endif %}
    {% if page.author or post.author %}
        <img src="{{ site.baseurl }}/public/glyphicons-4-user.png">
        <span itemprop="author" itemscope itemtype="http://schema.org/BlogPosting">
            <a href="{{ site.baseurl }}/contact"><span itemprop="author">{% if post.author %}{{ post.author }}{% else %}{{ page.author }}{% endif %}</span></a> &thinsp;
        </span>
    {% endif %}
    {% if page.category %}
        <img src="{{ site.baseurl }}/public/glyphicons-441-folder-closed.png">
        <span itemprop="category" itemscope itemtype="http://schema.org/BlogPosting">
            <span itemprop="keywords">{{ page.category }}</span> &thinsp;
        </span>
    {% endif %}
    {% if page.tags %}
        <img src="{{ site.baseurl }}/public/glyphicons-67-tags.png">
        <span itemprop="category" itemscope itemtype="http://schema.org/BlogPosting">
            <span itemprop="keywords">
                {% for tag in page.tags %}
                    {{ tag }} {% unless forloop.last %}-{% endunless %}
                {% endfor %}
            </span>
        </span>
    {% endif %}
</p>