/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: #eee;
}

.page-heading {
    font-size: 26px;
}

.post-list {
    margin-left: 0;
    list-style: none;


    > li {
        margin-bottom: $spacing-unit;
    }
    h2 {
        margin-bottom: $spacing-unit / 8;
    }
    a {
        color: $brand-color;
        text-decoration: none;

        &:visited {
            color: darken($brand-color, 15%);
        }

        &:hover {
            color: $brand-color;
            text-decoration: underline;
        }
    }
}

.post-updated {
    vertical-align: middle;
    font-size: 0.6rem;
    padding: 4px;
    border-radius: 4px;
    background-color: #fff6bf;
    color: #8c7800
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    a {
        color: $grey-color;
    }

}

.post-link {
    display: block;
    font-size: 24px;
}

.script-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit / 2 ;
    }
    h2 {
        margin-bottom: $spacing-unit / 8;
    }
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.improve {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-top-width: thin;
    color: $grey-color;
}

.right { float: right; }

.anchorjs-link {
    transition: all .25s linear;
    @include media-query($on-palm) {
        display: none;
    }
}
*:hover > .anchorjs-link {
    margin-left: -1.125em !important;
    text-decoration: none;
}

/*
* Toggle Button
* ========================================================================== */
.nav-main {
    float: right;
    text-align: right;
    line-height: 56px;

    .page-link {
        color: $text-color;
    }

    a:not(.site-title) {
        display: none;
    }
}

.toggle-button {
  position: relative;
  color: $text-color;
  font-size: 1.6rem;
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked + .nav-main a:not(.site-title) {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: right;
}

.toggle-button:after {
  content: attr(data-open);
  cursor: pointer;
  font-size: 1.6rem;
}

#menu-checkbox:checked + .nav-main .toggle-button:after {
  content: attr(data-close);
}
