
@font-face{
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/WOFF2/TTF/SourceSans3-Light.ttf.woff2') format('woff2'),
         url('/assets/WOFF/OTF/SourceSans3-Light.otf.woff') format('woff');
    font-display: fallback;
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/WOFF2/TTF/SourceSans3-LightIt.ttf.woff2') format('woff2'),
         url('/assets/WOFF/OTF/SourceSans3-LightIt.otf.woff') format('woff');
    font-display: fallback;
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/WOFF2/TTF/SourceSans3-Regular.ttf.woff2') format('woff2'),
         url('/assets/WOFF/OTF/SourceSans3-Regular.otf.woff') format('woff');
    font-display: fallback;
}

@font-face{
    font-family: 'Source Sans 3';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/WOFF2/TTF/SourceSans3-It.ttf.woff2') format('woff2'),
         url('/assets/WOFF/OTF/SourceSans3-It.otf.woff') format('woff');
    font-display: fallback;
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/WOFF2/TTF/SourceSerifPro-Light.ttf.woff2') format('woff2'),
         url('/assets/WOFF/OTF/SourceSerifPro-Light.otf.woff') format('woff');
    font-display: fallback;
}

@font-face{
    font-family: 'Source Serif Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/WOFF2/TTF/SourceSerifPro-LightIt.ttf.woff2') format('woff2'),
         url('/assets/WOFF/OTF/SourceSerifPro-LightIt.otf.woff') format('woff');
    font-display: fallback;
}

@font-face{
    font-family: 'SourceCodePro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('/assets/WOFF2/OTF/SourceCodePro-Regular.otf.woff2') format('woff2');
    font-display: fallback;
}

@font-face{
    font-family: 'SourceCodePro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('/assets/WOFF2/OTF/SourceCodePro-It.otf.woff2') format('woff2');
    font-display: fallback;
}
