/* Edit, view on GitHub */
.improve {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-top-width: thin;
    color: $grey-color;
}

.right { float: right; }

/* Anchorjs */
.anchorjs-link {
    transition: all .25s linear;
    @include media-query($on-palm) {
        display: none;
    }
}
*:hover > .anchorjs-link {
    margin-left: -1.125em !important;
    text-decoration: none;
}

/* Pagination */

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/* Scroll to top Button*/

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: azure; /* Set a background color */
    color: darkgray; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: darkgray; /* Add a dark-grey background on hover */
    color: azure;
} 

/* Search */
.search-input {
    -webkit-appearance: none;
    border-style: solid;
    border-radius: .25em;
    border-width: thin;
    font-family: inherit;
    font-size: 1.25em;
    margin: 2em auto 1em;
    padding: .5em;
    width: 100%;
  }

  /* Updated Post on index post-list */
.post-updated {
    vertical-align: middle;
    font-size: 0.6rem;
    padding: 4px;
    border-radius: 4px;
    background-color: $grey-color-light;
    color: $brand-color;
}

/* Sharebutton */
.sharebutton {
    display: inline-block;
    width: 15%;
    border-radius: .25em;
    padding-bottom: .20em;
    padding-top: .20em;
    padding-right: .25em;
    padding-left: .25em;
}

a.sharebutton {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

a.sharebutton:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

a.sharebutton.twitter {
    background-color: #00aced;
}
a.sharebutton.linkedin {
    background-color: #0077b5;
}
a.sharebutton.reddit {
    background-color: #ff4500;
}
a.sharebutton.mail {
    background-color: grey;
    @include media-query($on-palm) {
        display: none;
    }
}
a.sharebutton.telegram {
    background-color: #0088cc;
}
a.sharebutton.whatsapp {
    display: none;
    background-color: #25d366;
    @include media-query($on-palm) {
        display: inline-block;
    }
}
.sharetext {
    @include media-query($on-palm) {
        display: none;
    }
}

/* Tags and Categories */

.tag-list {
    list-style: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    padding-top: 1em;
    padding-bottom: 2em;
    @include media-query($on-palm) {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
}
.tag-count {
    border-radius: 5px;
    background-color: $grey-color-light;
    padding-left: 0.3em;
    padding-right: 0.3em;

}