---
title: PowerShell
permalink: /PowerShell/
layout: default
menubar: true
---

<div class="home">

  <ul class="post-list">
    {% for page in site.pages %}
    {% if page.path contains 'PowerShell/' and page.path != 'PowerShell/index.html' %}
      <li>
        <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }} {{ page.author }}</span>
        <h2>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title | escape }}</a>
        </h2>
        {{ page.excerpt }}
      </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>